{
"Dhcp6": {
    "valid-lifetime": {{ valid_lifetime }},
    "renew-timer": {{ renew_timer }},
    "rebind-timer": {{ rebind_timer }},
    "preferred-lifetime": {{ preferred_lifetime }},
    "interfaces-config": {
        "interfaces": [ "{{ interface_name }}" ]
    },
    "lease-database": {
        "type": "{{ lease_database_type }}",
        "persist": {{ lease_database_persist }},
        "name": "{{ lease_database_name }}"
    },
    "subnet6": [
        {
            "id": {{ subnet_id }},
            "subnet": "{{ subnet }}",
            "pools": [
                {
                    "pool": "{{ pool_range }}"
                }
            ]
        }
    ]
}
}
